[submodule "bandit"]
	path = bandit
	url = https://github.com/joakimkarlsson/bandit
[submodule "re2"]
	path = re2
	url = https://github.com/google/re2.git
[submodule "served"]
	path = served
	url = https://github.com/leandrosansilva/served.git
